@import "tailwindcss";

@theme {
  --animate-fade-in-down: fade-in-down 0.5s ease-in-out both;
  @keyframes fade-in-down {
    from {
            transform: translateY(-0.75rem);
            opacity: 0;
        }
        to {
            transform: translateY(0rem);
            opacity: 1;
        }
  }
}
